.sign{
    border:2px solid rgb(51, 219, 149);
    background-color: rgb(173, 238, 217);
    text-align: center;
    width: max-content;
    height: max-content;
    border-radius: 5px;
}

.input_sign{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
}

#signup{
    width: max-content;
    height: max-content;
}

.input_button{
    width:145px;
    height: 50px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 30px;
}

#simple_account{
    border:2px solid black;
}

#show_account{
    border:2px solid black;
    width: max-content;
    height: max-content;
}

#add_contest{
    border:2px solid rgb(51, 219, 149);
    font-weight: bold;
    border:2px solid rgb(51, 219, 149);
    background-color: rgb(173, 238, 217);
    width: max-content;
    height: max-content;
    border-radius: 5px;
    text-align: center;
}

.formlist{
    list-style: none;
}

.formli{
    display:flex;
    justify-content: space-between;
    align-items:center;
    border-bottom:1px gray solid;
    padding-bottom: 5px;
}

.forminput{
    margin-right: 50px;
}

#contestinfo{
    border:2px solid black;
    width:max-content;
    height: max-content;
    background-color: rgb(173, 238, 217);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.show_form{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(173, 238, 217);
    border:0px;
    text-align: right;
}

/*
.contestlist{
    border-bottom:1px gray solid;
}
*/
.aform{
    text-decoration: none;
    font-weight: bold;
    color:blue;
}

.formtitle{
    font-weight: bold;
}
