@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

#container {
	margin-top: 20%;
	text-align: center;
	font-family: 'Gamja Flower', cursive;
}

#status-message {
	font-size: 5em;
	color: #409531;
}

#status-details {
	font-size: 2em;
	color: black;
}
