/**
 * 애플리케이션에 적용되는 메인 스타일시트
 * 최종 수정 시점: 2023-05-20
 */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

/* 공통 영역 */

body{
		margin: 0px;
		font-family: 'Nanum Gothic Coding', monospace;
}
div{
		text-align: center;
}
#grid1{
		display: grid;
		grid-template-rows: 1fr 8fr 2fr;

}
#grid2{
		display: grid;
		grid-template-columns:1fr 5fr 1fr;
		background-color: #f5f5fa;

}
#main_container {
	margin-right: auto;
	margin-left: auto;
	margin-top: 5%;
	background-color: #f5f5fa;
}
#footer{
		color:white;
		background-color: rgb(62, 69, 61);
}
.footer_a{
		color: white;
}
#logo{
		/*border-bottom:black 2px solid;*/
		text-align: left;
		box-shadow: 0em 0em 1.5em #c7c7cb;
		z-index: 2;
}
#logo1{
		margin-left: 10%;
		width: 12em;
		cursor: default;
		/*height: 200px;*/
}
.blank{
		/*background-color: rgb(239, 239, 239);*/
}

/* 상단 메뉴 영역 */

#top_menu {
	float: right;
	margin-top: 2%;
	margin-right: 10%;
	width: 25%;
}

#top_menu_account {
	float: right;
}

#top_menu_my, #top_menu_post {
	float: left;
}

#top_menu_post {
	margin-right: 2%;
}

.top_menu_btn_2 {
	text-align: center;
	color: white;
	cursor: pointer;
	font-size: 1.1em;
	background-color: #45d3c0;
	border-radius: 0.5em;
	border: 0px;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 2%;
	padding-bottom: 2%;
}

.top_menu_btn_1 {
	text-align: center;
	color: black;
	cursor: pointer;
	font-size: 1.1em;
	background-color: white;
	border-radius: 0.5em;
	border: 0px;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 2%;
	padding-bottom: 2%;
}

.top_menu_btn_1:hover {
	color: #45d3c0;
}

.top_menu:hover {
	position: relative;
	top: 0.1em;
}

/* listpage 영역 */

#list_container {
}

/* html/style_ver0518 */

.sign{
    border:2px solid rgb(51, 219, 149);
    background-color: rgb(173, 238, 217);
    text-align: center;
    width: max-content;
    height: max-content;
    border-radius: 5px;
}

.input_sign{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
}

#signup{
    width: max-content;
    height: max-content;
}

.input_button{
    width:145px;
    height: 50px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 30px;
}

#simple_account{
    border:2px solid black;
}

#show_account{
    border:2px solid black;
    width: max-content;
    height: max-content;
}

#add_contest{
    border:2px solid rgb(51, 219, 149);
    font-weight: bold;
    border:2px solid rgb(51, 219, 149);
    background-color: rgb(173, 238, 217);
    width: max-content;
    height: max-content;
    border-radius: 5px;
    text-align: center;
}

.formlist{
    list-style: none;
}

.formli{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.forminput{
    margin-right: 50px;
}

#contestinfo{
    border:2px solid black;
    width:max-content;
    height: max-content;
    background-color: rgb(173, 238, 217);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.show_form{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(173, 238, 217);
    border:0px;
    text-align: right;
}

.contestlist{
    border-bottom:1px gray solid;
}

.aform{
    text-decoration: none;
    font-weight: bold;
    color:blue;
}

.formtitle{
    font-weight: bold;
}

/* 에러 페이지 */

#container {
	margin-top: 20%;
	text-align: center;
}

#status-message {
	font-size: 5em;
	color: #00c3a9;
}

#status-details {
	font-size: 2em;
	color: #36363e;
}
